{% block body %}
<style>
    .thumbnail {
        width: 400px; /* Définir la largeur désirée pour chaque image */
        height: 300px; /* Définir la hauteur désirée pour chaque image */
        overflow: hidden; /* Masquer le contenu qui dépasse de la zone définie */
    }

</style>
<div class="rbt-service-area bg-color-white rbt-section-gapBottom">
    <div class="container">
        <div class="row mb--60">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2 class="title"><span class="theme-gradient">Croisiéres</span> Tunisie</h2>
                    <p class="description has-medium-font-size mt--20">La nature nous a accueillis à bras ouverts lors de ces croisiéres,
              nous offrant ses trésors cachés et sa sérénité apaisante.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Banner Area  -->
<div class="rbt-tab-area bg-color-white rbt-section-gap">
    <div class="wrapper ">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-10 offset-lg-1">
                    <div class="content">
                        <div class="inner text-center">
                            <div class="brand-area mt--60">
   
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="rbt-banner-area rbt-banner-8 variation-03 section-bottom-overlay" id="home">
        <div class="banner-overlay-section">
        <div class="container display: flex flex-wrap: wrap">
            <div class="row row--15">
                <div class="col-lg-12">
                    <div class="swiper team-slide-activation-4 rbt-arrow-between rbt-dot-bottom-center margin-top: 20px">
                        <div class="swiper-wrapper">
                            {% for img in data %}
                            <div class="swiper-slide">
                                <div class="team team-style--bottom variation-2">
                                    <div class="thumbnail">
                                        <a href="#"><img src="{{ asset('uploads/imgCruise/'~img.title)}}" alt="Blog Images" ></a>
                                    </div>
                                    <div class="content">
                                        <div class="inner">
                                            <h4 class="title"><a href="#"></a></h4>
                                            <p class="designation"></p>
                                        </div>
                                        <div class="icon-right">
                                            <a href="#"><i class="feather-arrow-right"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endfor%}
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-left">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-left"></i>
                                <i class="rbt-icon-top feather-arrow-left"></i>
                            </div>
                        </div>

                        <div class="rbt-swiper-arrow rbt-arrow-right">
                            <div class="custom-overfolow">
                                <i class="rbt-icon feather-arrow-right"></i>
                                <i class="rbt-icon-top feather-arrow-right"></i>
                            </div>
                        </div>


                        <div class="rbt-swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Banner Area  -->
{% endblock %}
